html, body {
  margin: 0;
  --color-sand: #FFE7E7;
  --color-peri: #C0ACE1;
  --color-pink: #F17BB8;
  --color-navy: #2F426D;
  --color-blue: #4076DF;
  --color-teal: #6CCBCF;
}

body {
  line-height: 1.2;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  background-color: #EEE;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

@media (max-device-width: 639px) and (orientation: portrait) {
  html {
    transform: rotate(90deg);
    transform-origin: right top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    right: 0;
  }
}

.flip-scene {
  width: 640px;
  max-width: 640px;

  height: 365.714284px;
  max-height: 365.714284px;
  perspective: 600px;
}

h1.fn {
  line-height: 1.2;
  margin-bottom: 0;
}

h1.fn, a, hr {
  color: var(--color-blue);
}

.business-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  color: var(--color-navy);
  overflow-y: hidden;
}

.business-card-face {
  padding: 20px;
  background: white;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  transition: transform 1s;
  backface-visibility: hidden;
}

.business-card.is-flipped .business-card-face--front {
  transform: rotateY(180deg);
}

.business-card.is-flipped .business-card-face--back {
  transform: rotateY(360deg);
}

.business-card-face--back {
  background-image: repeating-linear-gradient(
      90deg,
      var(--color-sand),
      var(--color-sand) 56.6666666px,
      var(--color-peri) 56.6666666px,
      var(--color-peri) 113.333333px,
      var(--color-pink) 113.333333px,
      var(--color-pink) 170px,
      var(--color-navy) 170px,
      var(--color-navy) 226.666666px,
      var(--color-blue) 226.666666px,
      var(--color-blue) 283.333333px,
      var(--color-teal) 283.333333px,
      var(--color-teal) 340px,
      white 340px,
      white
  );
  transform: rotateY(180deg);
}

.hidden {
  display: none;
}

.vcard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.vcard img.photo {
  width: 25%;
  border: 2px solid var(--color-blue);
}

.main-information {
  display: flex;
  flex-direction: row;
}

.main-information > div {
  margin-left: 25%;
}

.main-information > div, .web-presence {
  flex-grow: 1;
}

.web-presence > div {
  margin-top: 15px;
}

.flip-button {
  position: fixed;
  bottom: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.business-card-face--front .flip-button {
  right: 0;
}

.business-card-face--back .flip-button {
  left: 0;
}

.information-extras {
  width: 250px;
  float: right;
  margin-top: 20px;
}

.information-extras ul {
  margin-top: 0;
}

