body {
  --color-navy: #2F426D;
  --color-blue: #4076DF;
  --color-teal: #6CCBCF;
  margin: 40px auto;
  max-width: 700px;
  line-height: 1.4;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  background-color: #EEE;
  color: var(--color-navy);
}

h1.fn {
  margin-bottom: 0;
}

h1, h2, h3 {
  line-height: 1.2;
  color: var(--color-blue);
}

a {
  color: var(--color-teal);
}

.photo-container {
  background-image: repeating-linear-gradient(
      90deg,
      white,
      white 50%,
      var(--color-navy) 50%,
      var(--color-navy) 66.666666%,
      var(--color-blue) 66.666666%,
      var(--color-blue) 83.333333%,
      var(--color-teal) 83.333333%,
      var(--color-teal) 100%
  );
  width: 260px;
}

.name {
  padding-bottom: 16px;
}

.hidden {
  display: none;
}

.vcard {
  padding: 0 25px;
}

.vcard img.photo {
  max-height: 130px;
  border: 2px solid var(--color-blue);
}

.main-information {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
}

.web-presence {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.web-presence > div > * {
  display: block;
}

.about-me ul {
  margin-top: 0;
}

