<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width minimum-scale=1 initial-scale=1">
    <title>Andrew Duane</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://file.myfontastic.com/NqTfpkurKVmqg7sjWgXF5n/icons.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="apple-mobile-web-app-title" content="Andrew Duane">
    <meta name="application-name" content="Andrew Duane">
    <meta name="msapplication-TileColor" content="#8ca6ad">
    <meta name="theme-color" content="#8ca6ad">
  </head>
  <body>
    <nav>
      <div class="mini-profile">
        <div class="profile-picture">
          <a href="/"><img alt="A picture of Andrew Duane." src="/img/me.png"></a>
        </div>
        <div class="profile-description">
          <span>Andrew Duane</span>
          <small>Software Developer, Aspiring Bowler</small>
        </div>
      </div>
      <ul class="menu-items">
        <li class="menu-item"><a href="/">About Me</a></li>
        <li class="menu-item"><a href="/andrew-duane-resume-public-version.pdf" target="_blank">Resume&nbsp;<span class="icon-external-link"></span></a></li>
        <li class="menu-item"><a href="/projects">Projects</a></li>
        <li class="menu-item"><a href="/posts">Posts</a></li>
        <li class="menu-item"><a href="https://goo.gl/photos/PYuR4uYbRkFjtLhYA" target="_blank">Cats&nbsp;<span class="icon-external-link"></span></a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>{{ page.title }}</h1>
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      <span>Get in touch!</span>
      <a class="icon-github" href="https://github.com/aduane"></a>
      <a class="icon-linkedin-square" href="https://www.linkedin.com/in/andrew-duane"></a>
      <a class="icon-twitter" href="https://twitter.com/andrewmduane"></a>
      <a class="icon-envelope" href="mailto:andrew.m.duane+portfolio@gmail.com"></a>
    </footer>
  </body>
</html>
